$font_path = '~@/assets/fonts/'

// @font-face {
//   font-family: 'regular';
//   src: url($font_path + 'regular.woff2') format('woff2'),
//       url($font_path + 'regular.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'medium';
//   src: url($font_path + 'medium.woff2') format('woff2'),
//       url($font_path + 'medium.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'book';
//   src: url($font_path + 'book.woff2') format('woff2'),
//       url($font_path + 'book.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

book()
  // font-weight normal
  // font-family 'book', Arial, sans-serif

  // *
  //   font-family inherit

regular()
  // font-weight normal
  // font-family 'regular', Arial, sans-serif

  // *
  //   font-family inherit

medium()
  // font-weight normal
  // font-family 'medium', Arial, sans-serif

  // *
  //   font-family inherit

eyebrow()
  // font-family 'medium', Arial, sans-serif
  // @apply uppercase tracking-widest text-sm

  // @media(min-width tablet)
  //   @apply text-base
