$font_path = '~@/assets/fonts/'

@font-face {
  font-family: 'medium';
  src: url($font_path + 'VisbyCF-Medium.woff2') format('woff2'),
      url($font_path + 'VisbyCF-Medium.woff') format('woff'),
      url($font_path + 'VisbyCF-Medium.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url($font_path + 'VisbyCF-Bold.woff2') format('woff2'),
      url($font_path + 'VisbyCF-Bold.woff') format('woff'),
      url($font_path + 'VisbyCF-Bold.eot') format('eot');
  font-weight: 300;
  font-style: 600;
}

medium()
  font-weight 500
  font-family 'medium', Arial, sans-serif

  *
    font-family inherit

bold()
  font-weight normal
  font-family 'bold', Arial, sans-serif

  *
    font-family inherit

medium()
  // font-weight normal
  // font-family 'medium', Arial, sans-serif

  // *
  //   font-family inherit

