/**
 * FONT FAMILY WEIGHTS
 */
// .text-book
//   book()

// .text-regular
//   regular()

// .text-medium
//   medium()

// /**
//  * STYLE GUIDE
//  */
// .big-title
//   fluid font-size, 100, 36
//   @apply leading-none

// .large-title
//   fluid font-size, 76, 40
//   @apply leading-tight

// .medium-title
//   fluid font-size, 46, 34
//   @apply leading-tight

// .small-title
//   fluid font-size, 38, 30
//   @apply leading-tight

// .subheading
//   @apply text-xl leading-snug
//   regular()

// @screen md
//   .subheading
//     @apply text-2xl

// .subheading-small
//   @apply text-lg leading-snug
//   regular()

// @screen lg
//   .subheading-small
//     @apply text-xl

// /**
//  * EYEBROW
//  */
// .eyebrow
//   eyebrow()
