/**
 * FONT FAMILY WEIGHTS
 */

.text-bold
  bold()

.text-medium
  medium()

/**
 * STYLE GUIDE
 */
.h1
  fluid font-size, 72, 38
  @apply leading-none

.h2
  fluid font-size, 36, 24
  @apply leading-tight

.h3
  fluid font-size, 32, 24
  @apply mb-4
