@require './global/**'

// Global
body
  color white
  background black
  font-family 'bold', Arial, sans-serif
  @apply antialiased box-border;

video
  width 100%

img
  max-width 100%
  max-height 100%

.block-base
  @apply relative

/**
 * Adjacent block overrides
 **/


/**
 * Vue Visual tweaks
 */
// Make sure video covers entire container
.vv-fill-asset
  object-fit cover
  height 100% !important
  width @height

/**
 * Graceful degredation
 */
.ie11
  .gradient-text-backup
    color red !important
    background none !important

  video.vv-background-cover
    max-width 500% !important
    max-height 500% !important
    min-width 100% !important
    min-height 100% !important
    width auto !important
    height auto !important
